<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather app</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Weather application</h1>
        <form action="/weather" method="POST">
            <input type="text" name="city" placeholder="Enter city name" required>
            <button>Search</button>
        </form>

        <% if(typeof error !== 'undefined'){ %> 
            <h3><%= error %></h3>
        <% } %>

        <% if(weather) { %>
            <hr>
            <div class="weather-card">
                
                <h2><%= weather.name %></h2>
                <h3><%= weather.sys.country %></h3>
                <img src="https://openweathermap.org/img/wn/<%= weather.weather[0].icon %>@2x.png" >
                <h3>Temperature <%= weather.main.temp %> deg C</h3>
                <h3>Humidity <%= weather.main.humidity %></h3>
                <h3>Wind speed <%= weather.wind.speed %> km/h</h3>
            </div>
        <% } %>
    </div>
</body>
</html>